In [9]:
import pandas as pd
import numpy as np

In [10]:
class data(object):
    def __init__(self,file,csv_indicator):
        self.file = file
        self.csv_indicator = csv_indicator
        self._load_data()
        
        #self._replace_missing_values()
        #self._fix_outliers()
        #self._normalize_stuff()
        #self._scale_stuff()
        
    def _load_data(self):
        if self.csv_indicator==1:
            self.df = pd.read_csv(self.file,skiprows=1).drop('ID',1)
        else:
            self.df = pd.read_excel(self.file,skiprows=1).drop('ID',1)
        
    def _fix_outliers(self,exclude_columns=None):
        def get_outliers(self,value,lower,upper):
            if value >= upper + 1.5*upper:
                return upper
            elif value <= lower - 1.5*lower:
                return lower
            else:
                return value
    
        if exclude_columns==None:
            unique_cols = self.df.columns
        else:
            unique_cols = self.df.columns.drop(exclude_columns,1)
        for i in unique_cols:
            lower = self.df[i].quantile(0.225)
            upper = self.df[i].quantile(0.775)
            self.df[i]= [get_outliers(self,value,lower,upper) 
                         for value,lower,upper in 
                         zip(self.df[i],
                             [lower for x in range(0,len(self.df))],
                             [upper for y in range(0,len(self.df))]
                            )
                        ]
            
    
        
    #def _normalize_stuff(self):
    
    #def _scale_stuff(self):
    
    #def _replace_missing_values():
        
    #def _calculate_z_scores():
    
    #def _calculate_x_features():
        
    #def _calculate_target_variables():
        
    #def _bin_column_values(column_name)

In [11]:
F = data('default_of_credit_card_clients.xlsx',0)
H = data('default_of_credit_card_clients.xlsx',0)
#H = data('default_of_credit_card_clients.xlsx',0)

categorical = ['SEX','EDUCATION','MARRIAGE','AGE','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6','default payment next month']

In [12]:
F._fix_outliers(categorical)
#F._normalize_scale()

In [15]:
F.df.head(13) == H.df.head(13)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
7,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,False,True,True,False,True,True,True
12,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True